.point {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  offset-anchor: 50% 50%;
  offset-path: path(
    'M1935.17 104.031C1937.91 103.723 1940.39 105.698 1940.69 108.442C1942.22 122.011 1943 135.795 1943 149.754C1943 358.247 1768.69 527 1554 527C1339.31 527 1165 358.247 1165 149.754C1165 135.795 1165.78 122.011 1167.31 108.442C1167.61 105.698 1170.09 103.723 1172.83 104.031C1175.58 104.339 1177.55 106.814 1177.24 109.558C1175.76 122.758 1175 136.169 1175 149.754C1175 352.433 1344.54 517 1554 517C1763.46 517 1933 352.433 1933 149.754C1933 136.169 1932.24 122.758 1930.76 109.558C1930.45 106.814 1932.42 104.339 1935.17 104.031Z'
  );
  animation: fly 14s infinite ease alternate;
}

.point2 {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  offset-anchor: 50% 50%;
  offset-path: path(
    'M1935.17 104.031C1937.91 103.723 1940.39 105.698 1940.69 108.442C1942.22 122.011 1943 135.795 1943 149.754C1943 358.247 1768.69 527 1554 527C1339.31 527 1165 358.247 1165 149.754C1165 135.795 1165.78 122.011 1167.31 108.442C1167.61 105.698 1170.09 103.723 1172.83 104.031C1175.58 104.339 1177.55 106.814 1177.24 109.558C1175.76 122.758 1175 136.169 1175 149.754C1175 352.433 1344.54 517 1554 517C1763.46 517 1933 352.433 1933 149.754C1933 136.169 1932.24 122.758 1930.76 109.558C1930.45 106.814 1932.42 104.339 1935.17 104.031Z'
  );
  animation: fly 22s infinite ease alternate;
}

.point3 {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  offset-anchor: 50% 50%;
  offset-path: path(
    'M2531.61 1834.03C2534.36 1833.72 2536.83 1835.7 2537.14 1838.44C2541.01 1872.95 2543 1908 2543 1943.5C2543 2473.56 2100.07 2903 1554 2903C1007.93 2903 565 2473.56 565 1943.5C565 1908 566.988 1872.95 570.861 1838.44C571.169 1835.7 573.643 1833.72 576.387 1834.03C579.132 1834.34 581.106 1836.81 580.798 1839.56C576.967 1873.69 575 1908.37 575 1943.5C575 2467.75 1013.17 2893 1554 2893C2094.83 2893 2533 2467.75 2533 1943.5C2533 1908.37 2531.03 1873.69 2527.2 1839.56C2526.89 1836.81 2528.87 1834.34 2531.61 1834.03Z'
  );
  animation: fly 28s infinite ease-in-out alternate;
}

@keyframes fly {
  0% {
    offset-distance: 95%;
  }
  70% {
    offset-distance: 52%;
  }
  100% {
    offset-distance: 95%;
  }
}
