@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Toastify__toast-theme--light {
  --tw-bg-opacity: 1;
  --toastify-color-light: hsla(var(--b2) / var(--tw-bg-opacity));
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  --tw-text-opacity: 1;
  background-color: hsla(var(--s) / var(--tw-text-opacity));
  outline: 1px solid hsla(var(--s) / var(--tw-text-opacity));
}

@media (min-width: 1536px) {
  .container {
    max-width: 1344px;
  }
}
